* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(../assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(../assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(../assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --switch-bg-url: url(../assets/Sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  max-width: 360px;
  margin: 56px auto 0px;
}
/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Swicth */
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.4s;
}

#switch button:hover {
  outline: 4px solid var(--stroke-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}
/* Links */
#lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 2rem;
}

#lista li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 16px 24px;
  margin: 0px 2rem;

  border-radius: 8px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);

  text-decoration: none;
  font-weight: 500;
}

#lista li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  transition: background 0.4s;
}

footer {
  padding: 34px 0;
  text-align: center;
  font-size: 14px;
}

footer strong {
  color: rgb(215, 54, 81);
}
/* de 700px pra cima */
@media (min-width: 700px) {
  :root {
    --bg-url: url(../assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(../assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
